<div class='box4'>
    <a data-info='fb-like' name='{{title}}'></a>
    <figure><img src='{{image}}'></figure>
    <div class='info1 maxheight' style='height: 116px;'>
        <div class='box_inner'>
            <p class='list3title1' data-info='title'>{{title}}</p>
            <p class='list3title3' data-info='description'>{{description}}</p>
        </div>
    </div>
    <p class='list3title2 pull-left' style='display:inline-block; margin-right: 10px;' data-info='rating'>{{rating}}</p>
    <button type='button' class='btn btn-success pull-left' data-info='add-to-cart'><i class='fa fa-shopping-cart'></i><span>Add to Cart</span></button>
    <a data-info='link' href='{{link}}' class='btn-link btn-link1'>read more<span></span></a>
    <div class='fb-like' data-info='fb-like' data-href='http://moviecatalog.net84.net/#{{#if search}}/search/{{title}}{{else}}{{title}}{{/if}}' data-layout='button_count' data-action='like' data-show-faces='true' data-share='true'>
    </div>
</div>
